#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // 노브 설정: 시계방향(볼륨 UP), 반시계방향(볼륨 DOWN)
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;

            bindings = <
                &kp Q  &kp W  &kp E  &kp R  &kp T
                &kp A  &kp S  &kp D  &kp F  &kp G
                &kp Z  &kp X  &kp C  &kp V  &kp B
                &kp N0 &kp N1 &kp N2 &kp LGUI &kp ENTER
            >;
        };
    };
};
