/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

/* * @keymap-editor-metadata 
 * {
 * "board": "seeeduino_xiao_rp2040",
 * "shield": "my_4x5"
 * }
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // 위에서 정의한 matrix_transform 순서(RC)에 맞춰 20개를 배치합니다.
            bindings = <
                &kp N7    &kp N8    &kp N9    &kp F1    &kp F2
                &kp N4    &kp N5    &kp N6    &kp F3    &kp F4
                &kp N1    &kp N2    &kp N3    &kp F5    &kp F6
                &kp N0    &kp DOT   &kp ENTER &kp F7    &kp F8
            >;
        };
    };
};
