/*
 * @keymap-editor-metadata 
 * {
 * "board": "seeeduino_xiao_rp2040",
 * "shield": "my_4x5",
 * "layout": "default"
 * }
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";
        esc {
            bindings = <&kp ESCAPE>;
            key-positions = <0 1>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp GRAVE  &kp N1  &kp N2  &kp N3  &kp N4  
&kp LSHFT  &kp Q   &kp W   &kp E   &kp R  
&kp LCTRL  &kp A   &kp S   &kp D   &kp F  
&kp N0     &kp DOT &kp RET &kp C   &kp SPACE
            >;

            /* 엔코더 회전 시 볼륨 조절 */
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
